<div style="width:100%;background-color:#e1e2e5" >
  <div class="m-t-lg" *ngIf="!isListOfFarmsAvailable" style="text-align:left;">
      <i class="fa fa-spinner fa-spin m-t-lg" style="font-size:24px"></i>
      &nbsp;&nbsp; Fetching Sites..
  </div>

  <!-- <div *ngIf="!isListOfFarmsAvailable">
      Fetching Sites..
  </div> -->
  <div *ngIf="isListOfFarmsAvailable">
    <div style="background-color:#ffffff;width:98.5%;height:50px;margin-left:10px">
  <div  style="float:left;width:90%;margin-top:-3px;" >
   <sites-component></sites-component>
  </div>
    <div *ngIf="isListOfTurbinesAvailable" class="turbineSelection">
<!-- Adding this as removing turbines component -->

<button type="button" class="btn turbinsSelectionBtn" data-toggle="modal" data-target="#turbinesModal">Select Turbine</button>
<div id="turbinesModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="max-width:1050px">

<div class="modal-content">
      <div class="modal-header">
        <h5>Select Turbines</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

          <div>
          <input type="checkbox"  id="Selectall" (click)="selectAllTurbines($event.target.checked)" ><span>Select All</span>
        </div>
        <div *ngFor='let turbine of siteRowWiseTurbineModels'style="margin-top:5px">
        <div *ngFor='let item of turbine.rowObject'>
          <div style="float:left">
          <input name={{item.rowName}} type="checkbox" id={{item.systemNumber}} value={{item.id}} on-click="onCheckBoxSelect($event)">{{item.id}}

        </div>
        <div style="float:left">
          <span>{{item.systemNumber}}</span>
        </div>
        </div>
        <br/>

        </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="getSelectedTurbines()" >OK</button>
      </div>
    </div>

  </div>
</div>
  </div>
    <!-- <turbines-component></turbines-component> -->
</div>

</div>
<div *ngIf="isSelectedTurbinesAvailable" style="margin-left: 10px;background-color:#ffffff;width:98.5%;height:400px">
<div style="margin-left:10px;margin-top:20px">
<tree-view></tree-view>
</div>
</div>
</div>
</div>
