<body>
    <div *ngIf="isDataAvailable">
        <div class="pull-right">
            <button [disabled]="!tickedTurbinesForRestore.size" type="button" class="btn btn-dark btn-sm m-r-md" id="restore-button"
                value="restore" data-toggle="modal" data-target="#restoreConfirmationBox">
                <i class="fa fa-history fa-lg"></i> Restore</button>
        </div>
        <div id="restore-table" class="container-fluid m-t-sm" style='float:left;width:100%'>
            <ngx-datatable
            id="restore-table"
            style="width:100%"
            class="material"
            [rows]="ngXRows"
            [columnMode]="standard"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [columns]="columns"
            [selectionType]="'checkbox'">
            <ngx-datatable-column [width]="30" prop="checkbox" name="">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <div *ngIf="!row.turbineInProcessMap.get('isRestoreInProcess'); else spinnerBlock">
                            <input [checked]="(row.turbineInProcessMap.get('isBackupInProcess') || row.turbineInProcessMap.get('isUpgradeInProcess')) ? false : ''" [disabled]= "row.turbineInProcessMap.get('isBackupInProcess') || row.turbineInProcessMap.get('isUpgradeInProcess')" type="checkbox" class="pointer" name="{{row.systemNumber}}"  (change)="onCheckboxChange($event)"/>
                        </div>
                        <!-- [disabled]="row.processMap.get(row.systemNumber).get('isGetTurbineInfoInProcess')" {{row}} - {{row.processMap | json}} - {{row.processMap.get(row.systemNumber).get('isGetTurbineInfoInProcess')}} -->
                        <ng-template #spinnerBlock>
                            <i class="fa fa-spinner fa-pulse fa-fw"></i>
                        </ng-template>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]=110 prop="name" name="Name">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <b>{{value}}</b>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]=125 prop="systemNumber" name="Sys. Number"></ngx-datatable-column>
                <ngx-datatable-column [width]=125 prop="ipAddress" name="IP">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-ip'] = true" *ngIf="!editing[rowIndex + '-ip']">
                            {{value}}
                        </span>
                        <input autofocus (blur)="updateViaInline($event, 'ip', rowIndex)" *ngIf="editing[rowIndex+ '-ip']" type="text" [value]="value"
                        />
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]=125 prop="turbineStatus" name="Turbine Status"></ngx-datatable-column>
                <ngx-datatable-column [width]=125 prop="currentVersion" name="Current Ver."></ngx-datatable-column>
                <ngx-datatable-column [width]=100 prop="ramSize" name="RAM Size (MB)"></ngx-datatable-column>
                <ngx-datatable-column [width]=125 prop="cfc0Size" name="Total CFC0 Size (MB)"></ngx-datatable-column>
                <ngx-datatable-column [width]=125 prop="backupVersion" name="Backup Ver."></ngx-datatable-column>
                <ngx-datatable-column [width]=125 prop="restoreTime" name="Restore Time"></ngx-datatable-column>
                <ngx-datatable-column [width]=110 prop="retoreStatus" name="Restore Status"></ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>

    <div *ngIf="!isDataAvailable" style="text-align: center;">
        <p>
            &nbsp;&nbsp; Currently no turbines are available to restore
        </p>
    </div>

</body>

<div class="modal fade" id="restoreConfirmationBox" tabindex="-1" role="dialog" aria-labelledby="restoreConfirmationBoxLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to restore selected turbine(s)?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendRestoreCommand()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
