<div style="display:flex;flex:1; min-height:100%;max-height:100%;align-items:stretch;    justify-content: space-around;  border-style: solid; border-width: 1px; padding:5px;">
    <div class="divStatus">
        <div l10nTranslate class="status">TOTAL</div>
        <div class="value">{{Total}}</div>
    </div>
    <div class="divStatus">
        <div l10nTranslate class="status">ONLINE</div>
        <div class="value">{{Online}}</div>
    </div>
    <div class="divStatus">
        <div l10nTranslate class="status">AVAILABLE</div>
        <div class="value">{{Available}}</div>
    </div>
    <div class="divStatus">
        <div l10nTranslate class="status">IMPACTED</div>
        <div class="value">{{Impacted}}</div>
    </div>
    <div class="divStatus">
        <div l10nTranslate class="status">TRIPPED</div>
        <div class="value">{{Tripped}}</div>
    </div>
    <div class="divStatus">
        <div l10nTranslate class="status">STOPPED</div>
        <div class="value">{{Stopped}}</div>
    </div>
    <div class="divStatus">
        <div l10nTranslate class="status">NODATA</div>
        <div class="value">{{Nodata}}</div>
    </div>
</div>