<div style="border-style: solid; flex:1;border-width: 1px;padding:5px;min-height: 100%;display: flex;flex-direction: column;align-items: center;justify-content: space-around;">
    <div style="display:flex; flex-direction:row;align-self: center;align-items: center;">
     <div class="triangle-up"></div>
     <span class="alarms">12</span>
 </div>
 <div style="display:flex; flex-direction:row;align-self: center;align-items: center;">
     <div class="oval"></div>
     <span class="alarms">12</span>
 </div>
 </div>