.triangle-up {
	width: 0;
	height: 0;
	border-left: 4vmin solid transparent;
	border-right: 4vmin solid transparent;
	border-bottom: 4vmin solid red;
}

.oval {
    height: 4vmin;
    width: 7vmin;
    background-color:yellow;
    border-radius:70%;
  }

.alarms{
margin-left: 1vw;
font-size: 3.6vmin;
}