<body class="container-fluid">
    <div class="pull-right">
        <button type="button" [disabled]="!tickedTurbineTypesMap.size" class="btn btn-dark btn-sm m-r-md" data-toggle="modal" data-target="#fileExplorer" id="choose-files-button" (click)="callGetFilesInFolder()">Choose Files</button>
        <button type="button" [disabled]="!tickedTurbineTypesMap.size" class="btn btn-dark btn-sm m-r-md" data-toggle="modal" data-target="#confirmationBox" id="push-to-site-button" value="upload"><i class="fa fa-upload fa-lg"></i> Push to Site</button>
    </div>

    <div class="container-fluid m-t-sm"  style='float:left;width:100%'>
        <ngx-datatable
        id="prepare-site-files-table"
        style="width: 100%"
        class="material"
        [rows]="ngxRowsForTurbineTypes"
        [columnMode]="'standard'"
        [headerHeight]="50"
        [rowHeight]="'auto'"
        [messages] = "fileTableMessages"
        [limit]="5"
        [columns] = "columns"
        [displayCheck]="displayCheck"
        [selectionType]="'checkbox'">
            <ngx-datatable-column [width]="30" prop="checkbox" name="">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <div *ngIf="!row.isPolling; else spinnerBlock">
                        <input type="checkbox" class="pointer" name="{{row.turbineType}}"  (change)="onCheckboxChangeForTurbineTypes($event)"/>
                    </div>
                    <ng-template #spinnerBlock>
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </ng-template>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300" prop="turbineType" name="Turbine type">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <b>{{value}}</b>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300" prop="existingFiles" name="Control code package on Site Server"></ngx-datatable-column>
            <ngx-datatable-column [width]="300" prop="fileChosen" name="Selected control code package"></ngx-datatable-column>
            <ngx-datatable-column [width]="300" prop="uploadStatus" name="Upload Status"></ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div class="pull-right" style='margin-top:5%'>
        <button type="button" [disabled]="!checkedTurbinesMap.size" class="btn btn-dark btn-sm m-r-md" data-toggle="modal" data-target="" id="turbine-button" (click)="callGetTurbineInfo()">Turbine Info</button>
    </div>
    <div class="container-fluid m-t-sm m-b-md"  style='float:left;width:100%'>
        <ngx-datatable
        id="prepare-site-turbines-table"
        style="width: 100%"
        class="material"
        [rows]="ngxRowsForTurbines"
        [columnMode]="standard"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [messages] = "turbineTableMessages"
        [limit]="10"
        [columns] = "columns"
        [selectionType]="'checkbox'">
            <ngx-datatable-column [width]="30" prop="checkbox" name="">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <div *ngIf="!row.turbineInProcessMap.get('isGetTurbineInfoInProcess'); else spinnerBlock">
                        <input type="checkbox" class="pointer" name="{{row.systemNumber}}"  (change)="onCheckboxChangeForTurbines($event)"/>
                    </div>
                    <ng-template #spinnerBlock>
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </ng-template>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300" prop="name" name="Name">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <b>{{value}}</b>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300" prop="systemNumber" name="Sys. Number">
            </ngx-datatable-column>
            <ngx-datatable-column [width]="170" prop="ipAddress" name="IP">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-ipAddress'] = true"
                      *ngIf="!editing[rowIndex + '-ipAddress']">
                      {{value}}
                    </span>
                    <input [disabled]="row.turbineInProcessMap.get('isGetTurbineInfoInProcess')"
                      autofocus
                      (blur)="updateViaInlineIpAddress($event, 'ipAddress', rowIndex)"
                      *ngIf="editing[rowIndex+ '-ipAddress']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="480" prop="turbineStatus" name="Turbine Status">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <!-- <button *ngIf="value!='-'" [ngClass]="value=='CONNECTION SUCCESS' ? 'btn-success' : 'btn-danger'" type="button" class="btn btn-primary btn-sm">{{value}}</button> -->
                    <span *ngIf="value!='-'" [ngClass]="value=='CONNECTION - SUCCESS AND VALID' || value=='CONNECTION - SUCCESS AND UNKNOWN' ? 'badge-success' : 'badge-danger'" class="badge">{{value}}</span>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

</body>

<ng-template #dataTableBusy>Fetching Data</ng-template>



<!-- Modal -->
<div class="modal fade" id="fileExplorer" tabindex="-1" role="dialog" aria-labelledby="fileExplorerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fileExplorerLabel">Available control code release package</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
             <!-- <div *ngIf="finalFiles['1x'] || finalFiles['2x'] ; else spinnerBlock"> -->
            <div *ngIf="areAxisFilesAvailable ; else messageBlock">
                 <div *ngIf='finalFiles["1x"] && is1xSelected'>
                 <b>1.xx :</b>
                    <div class="radio" *ngFor='let obj of finalFiles["1x"]'>
                        <input type="radio" value={{obj.name}} name="available_files_1x" (change)="ngxMapForTurbineTypes.get(obj.turbineType).set('fileChosen',obj.name)"> {{obj.name}}
                    </div>
                </div>
                <br>
                <div *ngIf='finalFiles["2x"] && is2xSelected'>
                    <b>2.xx : </b>
                    <div class="radio" *ngFor='let obj of finalFiles["2x"]'>
                        <input type="radio" value={{obj.name}} name="available_files_2x" (change)="ngxMapForTurbineTypes.get(obj.turbineType).set('fileChosen',obj.name)"> {{obj.name}}
                    </div>
                </div>
            </div>
            <ng-template #messageBlock>
                <div align="center" [innerHTML]="chooseFilesDisplayMessage"></div>
            </ng-template>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="refreshTurbineTypesTable(ngxMapForTurbineTypes)">Okay</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="confirmationBox" tabindex="-1" role="dialog" aria-labelledby="confirmationBoxLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmationBoxLabel">Confirm</h5>
            </div>
            <div class="modal-body">
              Are you sure you want to push selected files to {{globalStorageService.selectedParkName}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="startPushToSite()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
    </div>
