
<div style="width:100%">
<div>
  <div *ngIf="isListOfFarmsAvailable">
      <sites-component></sites-component>
      <div *ngIf="listOfTurbines">
          <tiles-component></tiles-component>
              <div [style.display]="selectedTile==1? 'block':'none'"><preparesite-component></preparesite-component></div>
              <div [style.display]="selectedTile==2? 'block':'none'"><backup-component></backup-component></div>
              <div [style.display]="selectedTile==3? 'block':'none'"><upgrade-component></upgrade-component></div>
              <div [style.display]="selectedTile==4? 'block':'none'"><restore-component></restore-component></div>
      </div>
  </div>
  <div *ngIf="!isListOfFarmsAvailable">
      Fetching Sites..
  </div>
  </div>
  <ng-template #dataTableBusy>Fetching Data</ng-template>
</div>
